doctype html
// [if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]
// [if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]
// [if IE 8]>         <html class='no-js lt-ie9'> <![endif]
// [if gt IE 8]><!
block vars
  - title = 'Fire Starter'
  - description = 'A simple, lightweight, modern asset pipeline.'
  - robots = 'index, follow'
  - ogTitle = 'Fire Starter'
  - ogSiteName = 'Fire Starter'
  - ogDescription = 'A simple, lightweight, modern asset pipeline.'
  - twitterTitle = 'Fire Starter'
  - twitterDescription = 'A simple, lightweight, modern asset pipeline.'
  - twitterHandle = '@mcleodstudio'
  - author = 'Mcleod Studio'
  - lang = 'en'
html(lang=lang)
  //<![endif]

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title #{title}
    meta(name="description", content=description)

    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    meta(property="og:title", content=ogTitle)
    meta(property="og:type", content="website")
    meta(property="og:site_name", content=ogSiteName)
    meta(property="og:description", content=ogDescription)

    meta(name="twitter:title", content=twitterTitle)
    meta(name="twitter:description", content=twitterDescription)
    meta(name="twitter:card", content=twitterCard)
    meta(name="twitter:site", content=twitterHandle)
    meta(name="twitter:creator", content=twitterHandle)

    meta(name="author", content=author)

    meta(name="robots", content=robots)

    block og-image
      meta(name="twitter:image", content="https://www.placehold.it/280x150")
      meta(property="og:image", content="https://www.placehold.it/1200x630")
      meta(property="og:image:width", content="1200")
      meta(property="og:image:height", content="630")

    link(rel="stylesheet", type="text/css", href="/styles/app.css?v="+stamp, media="screen")

    //- here are come recommended favicon sizes
    //-
    //- link(rel="apple-touch-icon-precomposed", sizes="57x57", href="/media/favicons/apple-touch-icon-57x57.png?v="+stamp)
    //- link(rel="apple-touch-icon-precomposed", sizes="60x60", href="/media/favicons/apple-touch-icon-60x60.png?v="+stamp)
    //- link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/media/favicons/apple-touch-icon-72x72.png?v="+stamp)
    //- link(rel="apple-touch-icon-precomposed", sizes="76x76", href="/media/favicons/apple-touch-icon-76x76.png?v="+stamp)
    //- link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/media/favicons/apple-touch-icon-114x114.png?v="+stamp)
    //- link(rel="apple-touch-icon-precomposed", sizes="120x120", href="/media/favicons/apple-touch-icon-120x120.png?v="+stamp)
    //- link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/media/favicons/apple-touch-icon-144x144.png?v="+stamp)
    //- link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/media/favicons/apple-touch-icon-152x152.png?v="+stamp)
    //- link(rel="icon", type="image/png", href="/media/favicons/favicon-16x16.png?v="+stamp, sizes="16x16")
    //- link(rel="icon", type="image/png", href="/media/favicons/favicon-32x32.png?v="+stamp)
    //- link(rel="icon", type="image/png", href="/media/favicons/favicon-96x96.png?v="+stamp, sizes="96x96")
    //- link(rel="icon", type="image/png", href="/media/favicons/favicon-128x128.png?v="+stamp, sizes="128x128")
    //- link(rel="icon", type="image/png", href="/media/favicons/favicon-196x196.png?v="+stamp, sizes="196x196")
    //- meta(name="msapplication-TileColor", content="#FFFFFF")
    //- meta(name="msapplication-TileImage", content="/media/favicons/mstile-144x144.png?v="+stamp)
    //- meta(name="msapplication-square70x70logo", content="/media/favicons/mstile-70x70.png?v="+stamp)
    //- meta(name="msapplication-square150x150logo", content="/media/favicons/mstile-150x150.png?v="+stamp)
    //- meta(name="msapplication-wide310x150logo", content="/media/favicons/mstile-310x150.png?v="+stamp)
    //- meta(name="msapplication-square310x310logo", content="/media/favicons/mstile-310x310.png?v="+stamp)
    //- meta(name="theme-color", content="#ffffff")

    include ../3rd-party/google-analytics

    //- FOUC prevention
    style.
      .hidden { display:none; }

    body
      .wrap
        include header
        main(role="main")
          block content

      include footer

      //- Live reload
      if dev
        script(src="//localhost:35729/livereload.js")

      //- jQuery CDN and local fallback
      script(src="https://code.jquery.com/jquery-3.1.1.min.js")
      script.
        if (typeof jQuery == 'undefined') {
          document.write(unescape('%3Cscript src="/scripts/jquery.min.js?v="+stamp+" "%3E%3C/script%3E'));
        }

      //- FOUC prevention
      script.
        $('html').addClass('hidden');
        $(document).ready(function() {
          // show html
          $('html').removeClass('hidden');
        });

      //- Main scripts
      script(src="/scripts/scripts.min.js?v="+stamp)

      block scripts
